#beginnings,
#usa-states,
#canada-pt {
	margin: 20px auto;
}

#beginnings th,
#beginnings td
#usa-states th,
#usa-states td,
#canada-pt th,
#canada-pt td
	{
	text-align: left;
	padding: 5px 40px 5px 5px;
}

ul
{
	list-style-type: none;
}

ul.section_list
{
	margin-left: -2rem;
}

.section_list li, .active_class
{
	margin-bottom: 0.5rem;
}

.menuparent ul
{
	margin-top: 0.5rem;
}

.active_class
{
	font-weight: 700;
}

.boxtop a, .red, .post a
{
	color: #771D1D;
}

.boxtop, .boxtopm
{
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.boxtopm .boxtop
{
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}